python-miio
yeelight
pip
fastapi
pydantic-settings
pydantic_core
uvicorn[standard]
sqlalchemy
pandas
pyyaml
psycopg2-binary
redis
pymongo
pyjwt
python-jose[cryptography] 
passlib[bcrypt]
python-multipart
prometheus_client
requests
pika
confluent-kafka